﻿@{
    ViewData["Title"] = "About";
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Index">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
</ol>
<div class="row">
    <div class="col-12">
        <h1>About Page</h1>
        <p>Welcome to About Page</p>
    </div>
</div>
