﻿@{
    ViewData["Title"] = "Contact";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Contact</li>
</ol>
<div class="row">
    <div class="col-12">
        <h1>Contact Page</h1>
        <p>Welcome to My Contact Page</p>
    </div>
</div>
