﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Home</li>
</ol>
<div class="row">
    <div class="col-12">
        <h1>Home Page</h1>
        <p>Welcome to My HomePage</p>
    </div>
</div>
